@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


body{
    font-family: 'Roboto', sans-serif;
}

/* main{
    width: 1020px;
} */
/* .tittle{

} */
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}